@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background-color: #faf8f3;
  color: #1b1f1a;
}
